body,
html {
  margin: 0;
  height: 100%;
  padding: 0;
  overflow-x:hidden;
}

.toolbar {

}

button {
  background: #fff;
  border: #333 solid 1px;
  font-weight:400;
  height:40px;
  margin: auto 3px;
  padding-left:20px;
  padding-right:20px;
  box-sizing:border-box;
  color:#000;
  cursor:pointer;
  -webkit-transition:all .3s ease;
          transition:all .3s ease;
  text-transform: uppercase;
}

button:hover {
  background:#d7d4d4;
  -webkit-transition:all .3s ease;
          transition:all .3s ease;
}

.button_pressed {
  background:#333;  
  color:#fff;  
  -webkit-transition:all .3s ease;
          transition:all .3s ease;
  text-transform: uppercase;
}

.container {
  display: flex;
  height: 100vh;
  width: 800px;
  margin: auto;

  background: #fff;
}
